.App {
  text-align: center;
  
}
.calc-body{
  max-width: 500px;
  max-height: 500px;
  margin: auto;
  
}

.result {
  height: 60px;
  background-color: #bbb;
  width: 100%;
  
  
}
 .result p{
   font-size: 40px;
   
 }

 .buttons {
   display: block;
   background-color: #bbb;
   
   

 }
 .buttons button{
   width: 25%;
   height: 60px;
   font-size: 2rem;
  
   
 }

 .calculator-heading{
   text-align:center;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: medium;
 }